<li class="nav-item"> 
	<a href="{{path('admi')}}" class="nav-link">Home</a>
</li>
<li class="nav-item">
	<a href="{{ url('usuarioList')}}" class="nav-link"><i class="nc-icon nc-layout-11"></i>Lista de usuarios</a>
</li>
<li class="nav-item">
	<a href="{{ url('reservas') }}" class="nav-link">Reservas</a>
</li>
<li class="nav-item">
	<a href="{{ url('reserva_tipoList') }}" class="nav-link">Tipo de Reservas</a>
</li>
<li class="nav-item">
	<a href="{{url('foto_index')}}" class="nav-link">Galeria</a>
</li>
<li class="nav-item">
	<label class="nav-link"><i class="nc-icon nc-single-02"></i> {{app.session.get('nombre')}}</label>
</li>
<li class="nav-item">
	<a href="{{url('logout')}}" class="nav-link"><i class="nc-icon nc-button-power"></i> LogOut</a>
</li>