{% extends 'base/baseFoto2.html.twig' %}

{% block title %} Seccion de reservas {% endblock %}

{% block navbar %}
{{include('base/menu_general.html.twig')}}
{% endblock %}


{% block content %}
<div class="container">
  <h2>RESERVAS</h2>
  <p>Reservas de clientes</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Direccion</th>
        <th>Cliente</th>
        <th>Tipo de reserva</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
  {% for lista in listado %}
      <tr>
        <td>{{lista.reservaFecha| date('d/m/y H:i:s')}}</td>
        <td>{{lista.reservaLugar}}</td>
        <td>{{lista.idUsuario}}</td>
        <td>{{lista.reservaTipoId}}</td>
        <td>
        	<a href="{{ path('ver_reservas',{'id':lista.id}) }}" class="btn btn-info"><span class="nc-icon nc-badge"></span> Ver</a>
        	<a href="" class="btn btn-success"><span class="nc-icon nc-paper"></span>Factura</a>
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}